.blog-first-section{
    background-image: url(https://wphix.com/template/pabna/pabna/img/breadcrumbs.png);
    background-size: cover;
    background-position: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
   
}
.blog-main-page-img{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.only-dark-mode{
background-color: rgba(0, 0, 0, 0.4);
}
.blog-writing-center{
    top:40%;
    left:45%;
    cursor: pointer;
    h1{
        font-size:220%;
        font-family: 'Times New Roman', Times, serif;
        color:white;
        font-weight: 900;
    }
    span {
        &:nth-child(2) {
          color: white;
          transition: all .6s !important;
      
          &:hover {
            color: rgb(230, 87, 30);
          }
        }
      
        &:nth-child(3) {
          color: rgb(189, 188, 188);
        }
      }
      
    
}
.left-animation-div{
    position:absolute;
    top:0%;
    left:0%;
    width: 0%;
    background-color: rgb(15, 15, 15, 0.3);
     transition: all 1s ease;
}
 .animation-img:hover{
    .left-animation-div{
        width:50%;
    }
 }
 .right-animation-div {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0%;
    // transform: rotate(80deg); 
    background-color: rgba(15, 15, 15, 0.3);
    transition: all 1s ease;
  }
 .animation-img:hover{
    .right-animation-div{
        width:50%;
    }
 }
 .blog-p-element{
    font-size:110%;
    font-weight: 700;
    transition: all .5s ease;
    margin:1.5% 0 1.5% 0;
    &:hover{
        color:rgb(255, 100, 29)
    }
 }
 .opacity-span{
    opacity:0.7;
    font-size: 80%;
 }
 .div-border-bottom{
    border-bottom: 1px solid rgb(129, 128, 128,0.5);
    padding-bottom: 1%;
 }
 .lorem-p-img{
  margin-top: 2%;
  font-size:110%;
  opacity: 0.7;
  margin-bottom: 2%;
 }
 .readMore{
  font-size: 80%;
  font-weight: 900;
 }
 .right-icon-for-read{
  i{
    font-size: 85% !important;
  }
  
 }
 .wordLine{
  &:first-child{
    h1{
      font-weight: 900;
    }
  }
  
 }
 .line{
    width: 60px;
    height:3px;
    margin-top: 1%;
    background-color: rgb(173, 172, 172);
  }
  .search-input{
    input {
      width: 80%;
      height:1.2%;
      border-radius: 0 !important;
      padding-left: 2%;
      outline: none;
      border:1px solid rgb(20, 20, 20,0.4);
      &::placeholder{
        padding-left: 0.5%;
        font-size: 110%;
      }
    }
    button{
      width: 15%;
      height: 1.2%;
      background-color: rgb(150, 149, 149);
      border: none; 
      transition: all .6s !important;
      i{
        color: white;
      }
      &:hover{
      background-color: rgb(250, 38, 30);
      }
    }
  }
  .categories-div-li{
    margin-top: 5%;
      ul{
        li{
          margin-top: 5%;
          padding-bottom: 2%;
          // list-style-type: square !important;
          display: flex;
          justify-content:space-between;
          border-bottom: 1px dashed rgb(156, 156, 156);
          div{
            height: 20px;
             span{
              &:first-child{
                   display:inline-block;
           width: 7px;
           height:5px;
           background-color: rgb(104, 103, 103);
           margin-bottom:2px;
           margin-right:6px;
              }
        
            }
          }
          span{ 
            padding-bottom: 2px;
            transition: all .5s ease;
            color: rgb(143, 142, 142);
           
            &:hover{
            color:rgb(255, 100, 29);
            }
          }
        }
    }
  }
  .three-small-box{
    height: 15%;
    width:100%;
    div{
      div{

      
      // &:first-child{
      //   height: 40%;
      //   width:34%;
      //   div{
      //     // // &:first-child{
      //     // //       position: absolute;
      //     // // }
      //     // &:nth-child(2){
      //     //       position: absolute;
      //     //       z-index: 40;
      //     // }
      //   }
      }
        &:nth-child(2){
          p{
            color:rgb(0, 0, 0);
            font-size: 110%;
          }
          div{
            span{
              &:first-child{
                color:rgb(255, 79, 79);
                font-size: 110%;
              }
              &:nth-child(2){
                font-size: 90%;
                color:rgb(0, 0, 0);

              }
            }
          
        }
      }}
    }
  

    .for-relative-div{
      width: 30%;
      height:40%;
      div{
        width:100%;
        height:100%;
      }
    }
    .pos-abs-z1{
      z-index: 233;
    }
    .pos-abs-zs{
      z-index: 32233;
    }
    .papularTag{
      display: flex;
      flex-wrap: wrap;
      span{
        border:1px solid rgb(97, 96, 96,0.5);
        opacity:0.6;
        padding:2% 5% ;
        margin:1%;
      }
    }