.big-move-img{
    width: 100%;
    height: 85%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
    }
}
.small-move-img{

    img{
        margin: 5% 2.5% 5% 2.5%;
        width: 96%;
        height: 100%;
    }
}
.for-top-and-bottom-border{
  border-top: 1px solid rgb(29, 29, 29,0.1);
  border-bottom: 1px solid rgb(29, 29, 29,0.1);
}
.plus-minus-div{
    width: 15%;
    height: 49px;
    border-radius: 0px !important;
    border: 1px solid rgb(29, 28, 28, 0.4) !important;
    color: white;
    font-size: 110%;
    button{
        color: rgb(0, 0, 0);
        background-color: white;
        border: none;
        height: 23px;
    }
   
  
}
.add-to-card{
    border-radius: 0px;
    background-color:rgb(255, 255, 255);
    border:none;
    padding: 3%;
    outline:none;
    color:rgb(0, 0, 0);
    width:40%;
    margin-top: 2.6%;
    margin-left: 2%;
    height: 49px;
    transition: all .6s ease !important;
    border: 1px solid rgb(29, 28, 28, 0.4) !important;
    &:hover{
      color: aliceblue !important;
      background-color: rgb(255, 31, 31);
    }
}
.btn-icon1{
  margin-top: 2.6%;
  margin-left: 2%;
  height: 49px;
    border-radius: 0px;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(29, 28, 28, 0.4) ;
    padding: 2.6%;
    outline:none;
    color:rgb(0, 0, 0);
    font-size: 100%;
    transition: all .6s ease;
    &:hover{
      color: aliceblue ;
      background-color: rgb(255, 31, 31);
    }
}
.sku{
    font-size: 120%;
    span{
        font-size:110%;
        opacity:0.8; 
        &:hover{
        color:rgb(192, 72, 72);
    }
    }
   
}
.sku1 {
    font-size: 120%;

    span {
            i {
                transition: all .4s ease;
                margin: 0.8%;
                &:hover{
                color: rgb(250, 43, 43) !important;}
            }
    }
}
.ardene{
  transition: all .4s ease;
    &:hover{
      color: rgb(252, 38, 38);
    }
}
.p-lorem-opacity{
    opacity: 0.6;
}
.first-akt-img{
    height: 600px !important;
}
.hover-tree{
    height:8vh;
     background-color: rgb(238, 237, 237);
    div{
       height: 100%;
        border-radius: 5px;
        
        span{

            font-size: 130%;
            margin-left: 2%;
            display:flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding:0 1% 0 1%;
            width:9%;
            
            &:hover{
                background-color: rgb(202, 42, 42);
                color: white;
        }}
    }
}
  .active{
    background-color: rgb(202, 42, 42);
    color: white;
            }
  .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
     margin-top: 4%;
    width:80vw;
    padding: 12px 16px;
    z-index: 1;
    background-color: white !important; 
    
    P{
        line-height:150%;
        width:100%;
        opacity:0.8;
        font-size:120%;
       text-align: center;
    }
  }
  
  .dropdown-content1 {
    display: none;
    position: absolute;
    top: 100%;
     margin-top: 4%;
    width:80vw;
    padding: 12px 16px;
    z-index: 2;
    background-color: rgb(255, 255, 255) !important; 
    div{
        ul{
            height: 200px;
            margin-left: 3%;
            li{
                line-height:190%;
                font-size:120%
            }
        }
    }
    
  }
  .information1 {
    &:hover {
      + .dropdown-content1 {
        display: block;
      }
      ~ .active {
        background-color: rgb(238, 237, 237);
        color: black;
      }
      ~ .dropdown-content {
        display: none;
    }
    }
  }
  
  .dropdown-content3 {
    display: none;
    position: absolute;
    top: 100%;
     margin-top: 4%;
    width:80vw;
    padding: 12px 16px;
    z-index: 2;
    
  }
  
  .information3 {
    &:hover {
         .active {
        background-color: rgb(167, 121, 121) ;
        color: black  ; 
      }
       .dropdown-content3 {
        display: block;
      }
      
    }
  }
  .dropdown-content{
    height: 250px !important;
  }
  .dropdown-content1{
    height: 250px !important;
  }
  .dropdown-content3{
    height: 250px !important;
    background-color:rgb(255, 255, 255);
  }
  .product-card-for-margin{
    margin-top:350px !important;
  }
  .text-input{
    height:6vh;
    width:40%;
    margin-bottom: 10% !important;
    &::placeholder{
        padding-left:4%;
        font-size:120%;
    }
  }
  .two-box-for-height{
    height:15vh !important;
  }
  .problem-height{
    height:5vh !important;
  }
  #massage{
    &::placeholder{
        padding:3%;
        font-size:120%;
    }
  }
  .Related{
    text-align:center;
    font-size:190%;
    color: rgb(236, 73, 73);
    margin:5%

  }
  .height-for-input{
    height:10% !important;
  }
  .section-four-img{
    height: 300% !important;
    margin-bottom: 5%;
  }
  .stand-here{
    position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  }
  .second-option-box-writing3 {
    padding-left: 3%;
    p {
        font-size: 140%;
        font-weight: 600;
        margin-bottom: 1% !important;
        // margin-top: 1%;
        color: rgb(0, 0, 0);
    }
    div {
        margin-bottom: 1%;
        // margin-top: 1%;
        span {
            font-weight: 700;
            &:nth-child(1) {
                font-size: 150%;
                color: red;
            }
            &:nth-child(2) {
                font-size: 130%;
                color: rgb(0, 0, 0);
            }
        }
    }
}
.three-word-headers{
  margin-top: 10%;
  div{
    &:nth-child(n+1){
        margin-left: 4%;
    }
    span{
      transition: all .4s ease;
      font-size: 150%;
    }
  }
}
.div-of-description{
  margin-bottom: 3%;
  margin-top: 3%;
  padding: 4%;
  border: 1px solid rgb(31, 29, 29,0.2);
  p{
    font-size: 120%;
    padding-left: 1%;
  }
  ul{
    li{
      font-size: 120%;
      list-style-type:square !important;
    }
  }
}
.div-of-information{
  margin-bottom: 3%;
  margin-top: 3%;
  padding: 4%;
  border: 1px solid rgb(31, 29, 29,0.2);
  p{
    font-size: 120%;
    margin-bottom: 3%;
  }
}
.small-border-div{
  border: 1px solid rgb(32, 32, 32,0.1);
}
.starts-fourt-div{
  div{
    i{
      transition: all .3s ease;
    }
    &:hover{
       i{
        color: red !important;
    }
    }
   
  }
}
.btn-submit-textera{
  transition: all .3s ease;
  border: none;
  margin-left: 10%;
  margin-top: 15%;
  padding: 6% 50% !important ;
  border-radius: 0px !important;
  font-size: 140% !important;
  &:hover{
     background-color: red !important;
 }

}
.active-product{
  transition: all .1s ease;
  color: red;
}
.div-of-description,.div-of-information,.review{
    display: none;
}
.active-product-dis{
    display:block !important;
}
.big-move-img{
  &:hover{
  .pos-abs-in-img-div{
  z-index: 6;
  border: 4px solid rgb(19, 19, 19);
  background-color: aliceblue;
  opacity: 0.3;
}
  
  }
}
.add-div-left{
    width: 382px !important;
    height: 450px !important;
    z-index: 60;
    border: 4px solid rgb(19, 19, 19);
    background-color: aliceblue;
    left:460px;
  }